
.button-launcher{
	background-color: darkslategray;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  	min-width: 100%;
  	min-height: 30vh;
	font-size: 2vw;
	color: transparent;
	border-color: dimgray;
}

.button-launcher:hover{
	background-size: 0;
	background-color: #35939E;
	border-color: dimgray;
	color:blue;
}